<div
  class="
    d-flex
    justify-content-between
    flex-wrap flex-md-nowrap
    align-items-center
    pt-3
    pb-2
    mb-3
  "
>
  <h1 class="h5">{{ headTitle() }}</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <a class="btn btn-sm btn-danger" (click)="onCancel()">Cancel</a>
    </div>
  </div>
</div>


<form [formGroup]="phoneNumberTypeForm">
    <div class="row">
        <div class="col-md-6 mb-3">
          <label for="firstName">Name of phone number type</label>
          <input type="text" class="form-control" id="name" formControlName="name" placeholder="" value="" required>
          <div class="invalid-feedback">
            Valid first name is required.
          </div>
        </div>
    </div>
</form>

<a class="btn btn-primary" (click)="onSubmit()">Gravar</a>